
<!-- This is like the index page of your site
templates will be rendered inside of here
you probably want to put your nav and footer in this file -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }} - {{ shop.name }}</title>

  {{ content_for_header }}

  {{ "normalize.css" | asset_url | stylesheet_tag }}
  {{ 'styles.scss' | asset_url | stylesheet_tag }}

  {{ "option_selection.js" | shopify_asset_url | script_tag }}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" | script_tag }}
  
</head>
<body>
	<!-- Navigation Main Menu -->
	<nav class="main">
		<ul>
			{% for link in linklists.main-menu.links %}
			 <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
			
			<!-- Links for customer accounts -->
      {% if customer %}
      	<li>Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}</li>
      {% else %}
      	<li>{{ 'Log in' | customer_login_link }}</li>
        {% if shop.customer_accounts_optional %}
        	<li>{{ 'Create an account' | customer_register_link }}</li>
        {% endif %}
      {% endif %}
		</ul>
	</nav>


	<!-- Slide-out Cart -->
	<div class="cart--quick">
		<h2>My Cart</h2>
		<div class="cart--product">
			<div class="cart--product-image">
				<img src="assets/pineapple-1.jpg" alt="">
			</div>
			<div class="cart--product-details">
				<div>	
					<h3>The Line Up</h3>
					<span class="price">$20.00</span>
				</div>
				<div class="cart--qty">
				  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}" data-line="{{line}}">
				    <span class="fallback-text">&minus;</span>
				  </button>
				  <input type="text" name="updates[]" class="ajaxcart__qty-num" value="231" min="0" data-id="{{id}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
				  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}">
				    <span class="fallback-text">+</span>
				  </button>
				</div>
			</div>
		</div>
		<div class="cart--total">
				<!-- Link to cart page that shows number of items and count -->
			  <h3>Cart: <a href="/cart">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a></h3>
			<p><span>Subtotal:</span><span>$56.50</span></p>
			<a href="" class="btn">Checkout</a>
		</div>
	</div>

	<header>
		<h1 class="shop-name"><a href="/">{{ shop.name }}</a></h1>
	</header>
		
    {{ content_for_layout}}

		<footer>
			<div class="wrapper">
		    <ul>
		  		{% for link in linklists.footer.links %}
		  	 	<li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
		  		{% endfor %}
		    </ul>
			</div>
		</footer>



	<script>
		$(function(){

			// Toggle Main Menu Slide-out
			$('.main--toggle').on('click', function(){
				$(this).toggleClass('active');
				$('nav.main').toggleClass('active');
				$('main').toggleClass('active-nav');
			});

			// Toggle Cart Slide-out
			$('.cart').on('click', function(){
				$('.cart--quick').toggleClass('active');
				$('main').toggleClass('active-cart');
				setTimeout(function(){
					$('main').hasClass('active-cart') ? $('main').css('left', 'auto') : $('main').attr('style', '')
				}, 300)
			})
		})
	</script>
</body>
</html>