<!-- This is like the index page of your site
templates will be rendered inside of here
you probably want to put your nav and footer in this file -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }} - {{ shop.name }}</title>

  {{ content_for_header }}

  {{ "normalize.css" | asset_url | stylesheet_tag }}
  {{ 'styles.scss' | asset_url | stylesheet_tag }}

  {{ "option_selection.js" | shopify_asset_url | script_tag }}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" | script_tag }}
</head>
<body>
	<!-- Navigation Main Menu -->
	<nav class="main">
		<ul>
			{% for link in linklists.main-menu.links %}
			 <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
		</ul>
	</nav>

	<!-- Slide-out Cart -->
	<div class="cart--quick">
		<h2>My Cart</h2>
		{% if cart.item_count > 0 %}
			<h3>items in cart</h3>
			{% for item in cart.items %}
				<div class="cart--product">
					<div class="cart--product-image">
						<img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" >
					</div>
					<div class="cart--product-details">
						<div>	
							<h3>{{item.product.title}}</h3>
							<h3>
							  {% unless item.variant.title contains 'Default' %}
							    {{ item.variant.title }}
							  {% endunless %}
							</h3>
							<span class="price">{{ item.price | money }}</span>
						</div>
						<div class="cart--qty">

						  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{item.id}}"  onclick="removeItem('{{ item.id }}')">
						    <span class="fallback-text">&minus;</span>
						  </button>

						  <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{item.quantity}}" min="0" data-id="{{item.id}}"  aria-label="quantity" pattern="[0-9]*">

						  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}" onclick="addItem('{{ item.id }}')">
						    <span class="fallback-text">+</span>
						  </button>

						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		<div class="cart--total">

			 <!-- Shows total price of the cart -->
			<p><span>Subtotal:</span><span class="js-subtotal-amount">{{ cart.total_price | money }}</span></p>

			<!-- Link to checkout -->
			<a href="/checkout" class="btn">Checkout</a>
		</div>
	</div>

	<!-- The Store Title -->
  <header>
  	<h1 class="shop-name"><a href="/">{{ shop.name }}</a></h1>
  </header>

	<a href="#" class="main--toggle"><span></span></a>

  <!-- Content from all the pages will be swapped into here -->
  	{{ content_for_layout}}

	<!-- The Footer Links -->
	<footer>
		<div class="wrapper">
	    <ul>
	  		{% for link in linklists.footer.links %}
	  	 	<li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
	  		{% endfor %}
	    </ul>
		</div>
	</footer>

	<script>
		$(function(){
			
			// Toggle Main Menu Slide-out
			$('.main--toggle').on('click', function(){
				$(this).toggleClass('active');
				$('nav.main').toggleClass('active');
				$('main').toggleClass('active-nav');
			});

			// Toggle Cart Slide-out
			$('.cart').on('click', function(){
				$('.cart--quick').toggleClass('active');
				$('main').toggleClass('active-cart');
				setTimeout(function(){
					$('main').hasClass('active-cart') ? $('main').css('left', 'auto') : $('main').attr('style', '')
				}, 300)
			});

			// Change quantity of product when field changes
			$('.ajaxcart__qty-num').on('change', function(){
				var id = $(this).data('id');
				var quantity = parseInt($(this).val());
				// console.log(id, quantity)
				changeItemQuantity(id, quantity)
			})

		}) // end ready function


		// AJAX Cart Functions
		// -------------------

		function addItem(variant_id) {
			// Pull the current quantity from input form
			var quantity =  parseInt($('input[data-id="' + variant_id + '"]').val())

			// This variable is used to send the new quantity value to changeItemQuantityOk function
			var new_quantity = quantity + 1

			// Set data values for ajax call - quantity is hardcoded to one
			//    -- we're going to the cart/add.js endpoint
		  var data = 'id='+ variant_id + '&quantity=1' 
		   $.ajax({
		      type: 'POST', 
		      url: '/cart/add.js',
		      dataType: 'json', 
		      data: data,
		      success: function(){
		        changeItemQuantityOk(variant_id, new_quantity);
		        getCart();
		      },
		      error: function(error){
		      	alert(error.responseJSON.description)
		      }
		   });
		}

		function removeItem(variant_id) {
			// Pull the current quantity from input form
			var quantity =  parseInt($('input[data-id="' + variant_id + '"]').val())

			// if there is any quantity
			if (quantity > 0){
				// reduce the quantity by 1
				var new_quantity = quantity - 1
				//Call the change.js ajax function
				changeItemAjax(variant_id, new_quantity)
			}
		}

		function changeItemQuantity(variant_id, quantity) {
			// if there is quantity or if the user wants to set it to 0
			if(quantity >= 0){
				//Call the change.js ajax function
				changeItemAjax(variant_id, quantity)
			} else {
				alert("cannot add negative quantity")
			}
		}

		function changeItemAjax(variant_id, new_quantity){
			// Set data values for ajax call - quantity is dynamic since we're 
			// changing the quantity to whatever the user has inputed
			//    -- we're going to the cart/change.js endpoint
		  var data = 'id='+ variant_id + '&quantity='+ new_quantity 
			$.ajax({
			  type: 'POST', 
			  url: '/cart/change.js',
			  dataType: 'json', 
			  data: data,
			  success: function(){
			    changeItemQuantityOk(variant_id, new_quantity);
			    getCart();
			  },
			  error: function(error){
			  	alert(error.responseJSON.description)
			  }
			});
		}

		function changeItemQuantityOk(variant_id, new_quantity){
			// get the input corresponding to the the product by variant id
			var input = $('input[data-id="' + variant_id + '"]')
			// change the input value to the new quantity
			new_quantity >= 0 ? input.val(new_quantity) : input.val(0)
		}

		function getCart(){
			// an ajax call to the /cart endpoint to obtain the new cart total price
			//   -- on success update the subtotal with the new amount
			$.ajax({
			   type: 'GET', 
			   url: '/cart',
			   dataType: 'json',
			   success: function(data){
			   	var dollar_amount = '$' + (data.total_price / 100).toFixed(2).toLocaleString()
			     $('.js-subtotal-amount').text(dollar_amount)
			   },
			   error: function(error){
			   	alert(error.responseJSON.description)
			   }
			});
		}

	</script>

</body>
</html>