<main class="product">
	<div class="wrapper">
		<a href="#" class="main--toggle"><span></span></a>
		<div class="cart"></div>
		<div class="flex-container">
			<div class="product--details">
				<h2 class="">{{ product.title }}</h2>
				<p>{{ product.description}}</p>
				    <form action="/cart/add" method="post" class="product-form" id="add-to-cart">
							
				      <div>
				      	<!-- if there is not size options for the product create a hidden input the the only option -->
				        {% if product.variants.size == 1 %}
				          <label for="product-select-option-0"></label>
				          <input type="hidden" value="{{ product.variants.first.id }}" id="product-select-option-0" name="id">

				        {% else%}
								<!-- Otherwise, put a drop down with all the size options -->
				          <div>
				            <select id="product-select" name="id">
				              {% for variant in product.variants %}
				                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
				              {% endfor %}
				            </select>
				          </div>
				        {% endif %}
				      </div>

				    <input type="submit" name="add" value="Purchase" class="purchase btn"  id="AddToCart" />
				  	</form>
			</div>
			<div class="product--image">
		<!-- the products featured image -->
				<a href="{{ product.featured_image.src | product_img_url: '750x', scale: 3 }}">
				  <img src="{{ product.featured_image.src | product_img_url: '750x', scale: 3 }}" alt="{{ product.featured_image.alt | escape }}" />
				</a>
			</div>
		</div>
		<div class="product--navigation">
			 <!-- navigating to previous/next product in the collection -->
			{% if collection %}
				{% if collection.previous_product %}
					<div class="left">{{ '&larr; Previous Product' | link_to: collection.previous_product }}
					</div>
				{% endif %}
				{% if collection.next_product %}
					<div class="right">{{ 'Next Product &rarr;' | link_to: collection.next_product }}
					</div>
				{% endif %}
			{% endif %}

		</div>
	</div>
</main>

<!-- =============== -->


<script type="text/javascript">

  // A call back to check if there are variants, if there are, it checks availability.  
  // If there is no product, it disables the purchase button and puts a 'Sold Out' or 'Unavailable' message 
var selectCallback = function(variant, selector) {
  if (variant && variant.available == true) {
    // selected a valid variant
    jQuery('.purchase').removeClass('disabled').removeAttr('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
    jQuery('.price-field').html(Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}"));  // update price field
  } else {
    // variant doesn't exist
    jQuery('.purchase').addClass('disabled').attr('disabled', 'disabled'); // set purchase button to unavailable class and disable button
    var message = variant ? "Sold Out" : "Unavailable";    
    jQuery('.price-field').text(message); // update price-field message
  }
};

// initialize multi selector for product
jQuery(function() {
  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
  jQuery('.selector-wrapper').addClass('clearfix');
  {% if product.options.size == 1 %}
  jQuery('.selector-wrapper').prepend("<label for='product-select-option-0'>{{ product.options.first }}</label>");
  {% endif %}
});

</script>
