{% paginate collections by 4 %}

<div class="clearfix">
    <!-- if collections exist -->
    {% if collections.size > 0 %}
        <h2>Collections</h2>

        <!-- loop through all the collections -->
        {% for collection in collections %}

            <!-- cycle through, adding the classes product and left to everyone and last to every fourth one -->
            <div class="product left {% cycle '','','','last' %}">

              <div class="product-thumb">
                <!-- set the image to the first image in the collection or the collection feature image -->
                <!-- either way set a link to the collection page -->
                <a href="{{ collection.url  }}">
                    {% if collection.image %}
                        {{ collection.image.src | collection_img_url: 'medium' | img_tag: collection_title }}
                    {% else %}
                        {{ collection.products.first.featured_image | product_img_url: 'medium' | img_tag: collection_title }}
                    {% endif %}              
                </a>
              </div>

              <!-- the collection title -->
              <div class="product-title">
                <a href="{{ collection.url}}">
                    {{ collection.title }}
                  </a>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <!-- otherwise -->
        You have no collections!
    {% endif %}
</div>

{% if paginate.pages > 1 %}
<div class="pagination">
  {{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}